.messageMain {
  padding: 25px;
  .p1 {
    color: black;
    font-size: 32px;
    font-weight: 700;
  }
  .communicationDiv {
    min-height: 500px;
    margin-top: 15px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 4px 20px 0px rgba(238, 238, 238, 0.52);
    display: flex;
    .memmbers {
      width: 20%;
      border-radius: 10px;
      background: #90a67b;
      box-shadow: 0px 4px 20px 0px rgba(238, 238, 238, 0.52);
      min-height: 500px;
      text-align: center;
      .p2 {
        padding-top: 25px;
        padding-bottom: 10px;
        color: #000;
        font-size: 16px;
        font-weight: 500;
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
      }
      .recentPeople {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 5px;
        cursor: pointer;
        p {
          margin: 0 5px;
          color: #000;
          font-size: 16px;
          font-weight: 500;
        }
        .colorDiv {
          border-radius: 50%;
          height: 10px;
          width: 10px;
          background-color: rgba(0, 114, 187, 1);
        }
      }

      .peoples {
        text-align: left;
        padding-left: 30px;
        p {
          margin-bottom: 10px;
          color: #000;
          font-size: 16px;
          font-weight: 500;
          cursor: pointer;
        }
      }

      .groupChat {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 0;
        cursor: pointer;
        border-top: 1px solid rgba(0, 0, 0, 0.4);
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
        p {
          margin: 0 5px;
          color: #000;
          font-size: 16px;
          font-weight: 500;
        }
        .colorDiv {
          border-radius: 50%;
          height: 10px;
          width: 10px;
          background-color: rgba(255, 0, 0, 1);
        }
      }
      .peoplesGroup {
        text-align: left;
        padding-left: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        p {
          margin-bottom: 10px;
          color: #000;
          font-size: 16px;
          font-weight: 500;
          cursor: pointer;
        }
      }
      .newMessage {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-top: 1px solid rgba(0, 0, 0, 0.4);
        padding: 15px 0;
        p {
          margin: 0 10px;
          color: rgba(0, 0, 0, 0.7);
          font-size: 16px;
          font-weight: 500;
        }
      }
    }
    .chat {
      width: 100%;
      .div1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.34);
        padding: 13px;
        .insideDiv1 {
          display: flex;
          align-items: center;
          p {
            color: #000;
            font-size: 24px;
            font-weight: 500;
            margin: 0 5px;
          }
          .activeDiv {
            height: 10px;
            width: 10px;
            border-radius: 50%;
            background-color: rgba(57, 181, 74, 1);
          }
        }
        .callDiv {
          display: flex;
          align-items: center;
          img {
            height: 20px;
            cursor: pointer;
            margin: 0 5px;
          }
        }
      }
      .messageAndprofile {
        display: flex;
        width: 100%;
        min-height: 500px;
        .message {
          width: 65%;
          padding: 15px;
          border-right: 1px solid rgba(0, 0, 0, 0.34);
          .message1 {
            display: flex;
            align-items: center;
            margin: 20px 5px;
            img {
              border-radius: 50%;
              background-position: center;
              height: 40px;
              width: 40px;
            }
            .mainMessage {
              margin-left: 10px;
              .nameDate {
                display: flex;
                align-items: center;
                p {
                  color: black;
                  font-size: 12px;
                  font-weight: 500;
                }
                .date {
                  color: rgba(0, 0, 0, 0.4);
                  font-size: 12px;
                  font-weight: 500;
                }
              }
              .textMessage {
                color: rgba(0, 0, 0, 0.4);
                font-size: 12px;
                font-weight: 500;
              }
            }
          }
          .textArea {
            border: 1px solid rgba(0, 0, 0, 0.15);
            background: #fff;
            border-radius: 10px;
            box-shadow: 0px 4px 20px 0px rgba(238, 238, 238, 0.52);
            textarea {
              // border-bottom: 1px solid rgba(0, 0, 0, 0.34);
              border: none;
              padding: 10px;
            }
            :focus {
              outline: none;
            }
            .sendDiv {
              text-align: right;
              border-top: 1px solid rgba(0, 0, 0, 0.34);
              img {
                margin: 10px;
                cursor: pointer;
              }
            }
          }
        }
        .profile {
          width: 35%;
          .imgDiv {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 15px 0;
            .proImg {
              height: 100px;
              width: 100px;
              border-radius: 50%;
            }
            .activeDiv {
              display: flex;
              align-items: center;
              .colorDiv {
                height: 10px;
                width: 10px;
                border-radius: 50%;
                background-color: green;
              }
            }
            .contact {
              display: flex;
              align-items: center;
              .imgDivC {
                margin: 0 10px;
                height: 40px;
                width: 40px;
                border-radius: 10px;
                background-color: rgba(144, 166, 123, 1);
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                img {
                  height: 20px;
                  width: 20px;
                }
              }
            }
          }
          .info {
            padding: 15px;
            .infoDiv {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding:10px 0;
              .key {
                color: rgba(0, 0, 0, 0.4);
                font-size: 16px;
                font-weight: 500;
              }
              .value {
                color: rgba(0, 0, 0, 0.7);
                font-size: 16px;
                font-weight: 500;
              }
            }
          }
        }
      }
    }
  }
}
