.mainContainer {
  height: 100vh;
  background-color: rgb(241, 241, 241);
  // width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .code {
    // background-color: red;
    height: 80%;
    width: 70%;
    display: flex;
    // align-items: center;
    justify-content: center;
    .form {
      height: 100%;
      width: 45%;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: white;
      .logoDiv {
        width: 100%;
        img {
          padding: 10px;
          height: 80px;
          width: 80px;
          background: transparent;
        }
      }
      .inputFields {
        width: 70%;
        // background-color: red;
        h2 {
          font-weight: 700;
          padding-left: 10px;
        }
        p {
          padding-bottom: 10px;
          font-size: 10px;
          font-weight: 400;
          padding-left:5px;
        color: rgba(0, 0, 0, 0.34);
        }
        form {
          .inputDiv {
            display: flex;
            flex-direction: column;
            padding: 5px 0;
            .errorAndLabel{
              
              display: flex;
              align-items: center;
              justify-content: space-between;
              .errorMessage{
                color: red;
              }
              label {
                font-weight: 600;
                font-size: 16px;
                padding: 5px 0;
                padding-left: 5px;
              }
            }
            input {
              outline: none;
              border: none;
              border-radius: 8px;
              padding: 8px 10px;
              font-size: 10px;
              font-weight: 400;
              border: 1px solid rgba(144, 166, 123, 1);
              box-shadow: 0px 4px 20px 0px rgba(238, 238, 238, 0.27);
            }
          }
          .submit {
            width: 100%;
            background-color: rgba(144, 166, 123, 1);
            color: white;
            border-radius: 8px;
            padding: 8px;
            border: none;
            box-shadow: 0px 4px 20px 0px rgba(238, 238, 238, 0.27);
            cursor: pointer;
            font-size: 16px;
            font-weight: 700;
            margin-top: 10px;
          }
        }
      }
    }
    .imgDiv {
      height: 100%;
      width: 40%;
      background-image: url("../../../../assets/AuthImages/main1.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-position-x: left;
      display: flex;
      justify-content: center;
      align-items: center;
      .textDiv {
        width: 70%;
        height: 37%;
        h2 {
          color: white;
          font-weight: 700;
          text-align: center;
        }
        p {
          font-size: 12px;
          font-weight: 400;
        }
      }
    }
  }
}
