
  .carousel.carousel-slider .control-arrow:hover{
    background: none!important;
  }
  .carousel .control-prev.control-arrow:before {
    border-right: 8px solid #000000!important;
}
.carousel .control-next.control-arrow:before {
    border-left: 8px solid #000000!important;
}

.sliderDiv{
height:350px;
.stationDiv{
    display:flex;
    align-items:flex-end;
    justify-content: center;
    // justify-content: space-between;
    padding:0 10px;
    p{
        font-size: 11px;
    }
}
p{
    padding:1px 10px;
    text-align: left;
    font-size: 18px;
    font-weight: 300;
}
    img{
        height: 100px!important;
        width: 100px!important;
        margin-top:20px;
    }
}