.customerForm {
  // z-index: 1 !important;
  // width: 50%;
  // background-color: white;
  padding: 20px;
  // border-radius: 10px;
  // position: absolute;
  // right: 20%;
  .formDiv1 {
    display: flex;
    justify-content: space-between;
    .p1 {
      color: rgba(144, 166, 123, 1);
      font-size: 24px;
      font-weight: 600;
      padding-top:20px;

    }
    .icon {
      cursor: pointer;
    }
  }
  .toggleDiv {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 15px 20px;
    margin-top: 20px;
    .nameDiv {
      .textAndError{
display: flex;
align-items: center;
justify-content: space-between;
        .p5 {
          color: rgba(0, 0, 0, 0.55);
          font-size: 14px;
          font-weight: 400;
          margin-bottom: 3px;
        }
        .error{
          color: red;
          font-size:10px;
        }
      }
      .inputDiv {
        display: flex;
        align-items: center;
        .nameDiv {
          width: 50%;
          input {
            width: 75%;
            padding: 15px 10px;
            border: 1px solid rgba(144, 166, 123, 1);
            font-size: 14px;
            font-family: 400;
            border-radius: 10px;
          }
          :focus {
            outline: none;
          }
        }
        .nameDivv {
          width: 50%;
          input {
            width: 80%;
            padding: 15px 10px;
            border: 1px solid rgba(144, 166, 123, 1);
            font-size: 14px;
            font-family: 400;
            border-radius: 10px;
          }
          :focus {
            outline: none;
          }
        }
      }
    }
    .orderDiv{
      width:50%;
      .p5 {
        color: rgba(0, 0, 0, 0.55);
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 3px;
      }
      .inputDiv {
        display: flex;
        align-items: center;
        .nameDiv {
          width: 100%;
          input {
            width: 75%;
            padding: 15px 10px;
            border: 1px solid rgba(144, 166, 123, 1);
            font-size: 14px;
            font-family: 400;
            border-radius: 10px;
          }
          :focus {
            outline: none;
          }
        }
        .nameDivv {
          width: 50%;
          input {
            width: 80%;
            padding: 15px 10px;
            border: 1px solid rgba(144, 166, 123, 1);
            font-size: 14px;
            font-family: 400;
            border-radius: 10px;
          }
          :focus {
            outline: none;
          }
        }
      }
    }
    .cnic {
      margin-top: 20px;
      input {
        width: 90%;
        padding: 15px 10px;
        border: 1px solid rgba(144, 166, 123, 1);
        font-size: 14px;
        font-family: 400;
        border-radius: 10px;
      }
      :focus {
        outline: none;
      }
    }
    .picAndphone {
      margin-top: 20px;
      display: flex;
      align-items: center;
      .picDiv {
        width: 50%;
        .p6 {
          color: rgba(0, 0, 0, 0.55);
          font-size: 14px;
          font-weight: 400;
        }
        .imgDiv {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border: 1px solid rgba(144, 166, 123, 1);
          border-radius: 10px;
          padding: 10px 10px;
          width: 75%;
          margin-top: 10px;
          input {
            border: none;
            color: rgba(0, 0, 0, 0.25);
            font-size: 14px;
            font-size: 400;
          }
          :focus {
            outline: none;
          }
          img {
            height: 30px;
            cursor: pointer;
          }
        }
      }
      .phoneDiv {
        width: 50%;
        .p6 {
          color: rgba(0, 0, 0, 0.55);
          font-size: 14px;
          font-weight: 400;
        }
        .phoneIn {
          width: 77%;
          border: 1px solid rgba(144, 166, 123, 1) !important;
          padding: 15px !important;
          border-radius: 10px !important;
          margin-top: 10px;
        }
      }
    }
    .address {
      margin-top: 20px;
      input {
        width: 90%;
        padding: 15px 10px;
        border: 1px solid rgba(144, 166, 123, 1);
        font-size: 14px;
        font-family: 400;
        border-radius: 10px;
      }
      :focus {
        outline: none;
      }
    }
    .customerType{
        margin-top: 20px;
        input {
          width: 90%;
          padding: 15px 10px;
          border: 1px solid rgba(144, 166, 123, 1);
          font-size: 14px;
          font-family: 400;
          border-radius: 10px;
        }
        :focus {
          outline: none;
        }
    }
    .selectDiv {
        width: 93%;
        margin-top:10px;
        // border:1px solid red;
        .p3 {
          color: rgba(0, 0, 0, 0.55);
          font-size: 14px;
          font-weight: 400;
          margin-bottom:3px;
        }
      }
  }
  .buttons {
    float: right;
    margin:15px 0;
    button {
      padding: 10px 10px;
      text-align: center;
      border: none;
      border-radius: 8px;
      background-color: rgba(144, 166, 123, 1);
      font-size: 18px;
      font-weight: 700;
      margin: 0 5px;
      color: white;
      cursor: pointer;
    }
  }
}
.css-1u9des2-indicatorSeparator {
  // display: none!important;
  background: none !important;
}
.css-b62m3t-container {
    // padding:15px 10px;
    //   margin-top: 10px;
    width: 100%!important;
}
.css-13cymwt-control {
    padding: 6px!important;
  border: 1px solid rgba(144, 166, 123, 1) !important;
  border-radius: 10px !important;
}
:focus {
  outline: none !important;
}
.react-select__control:active, /* Target the control when focused */
.react-select__control:hover, /* Target the control on hover (optional) */
.react-select__indicator:active, /* Target the indicator (arrow) when focused */
.react-select__indicator:hover {
    outline: none!important;
    border:2px solid #3cff00!important; /* Change this to your desired border color */
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Add a box shadow if desired */
  }
.PhoneInput {
  padding: none !important;
}
.PhoneInputInput {
  border: none !important;
  //   width:10%!important;
}

@media (min-width: 1800px) {
    .selectDiv {
      width: 92%!important;
    }
  }