.ledgerTable {
  // Styling for header cells
  .MuiTableCell-head {
    text-align: center !important;
    font-size: 20px !important;
    font-weight: 400 !important;
    border: none !important;
    // background-color: none!important;/
  }

  .MuiTableBody-root tr.MuiTableRow-root:nth-of-type(even) {
    background-color: rgba(
      203,
      217,
      173,
      1
    ) !important; // You can adjust this color
    border-radius: 10px !important;
  }

  // Styling for body cells
  .MuiTableCell-body {
    text-align: center !important;
    font-size: 12px !important;
    font-weight: 300 !important;
    color: rgba(0, 0, 0, 0.55) !important;
    border: none !important;
    cursor: pointer;
  }
  .firstCell {
    // border-top-left-radius: 10px;
    // border-bottom-left-radius: 10px;
    border-right: 1px solid rgba(0, 0, 0, 0.2) !important;
  }
  .lastCell {
    // border-top-right-radius: 10px;
    // border-bottom-right-radius: 10px;
    border-left: 1px solid rgba(0, 0, 0, 0.2) !important;
  }
  .bor {
    border-left: 1px solid rgba(0, 0, 0, 0.2) !important;
  }
  .mainHeading {
    background-color: none!important;
    .transaction {
      background-color: rgba(203, 217, 173, 1) !important;
    }
    .balance {
      background-color: rgba(203, 217, 173, 1) !important;
    }
  }
  .secondHead {
    background-color: rgba(144, 166, 123, 1) !important;
  }
}
