.SystemMaintenance {
  .p1 {
    padding-left: 25px;
    padding-top: 25px;
    color: rgba(0, 0, 0, 0.88);
    font-size: 36px;
    font-weight: 700;
  }
  .div1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 20px;
    .p2 {
      color: #000;
      font-size: 36px;
      font-weight: 700;
    }
    .btnsDiv {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width:40%;
      a {
        text-decoration: none;
        margin: 0 5px;
        text-align: center;
        width: 20%;
        color: rgba(0, 0, 0, 0.5);
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
        border-radius: 10px;
        border: 1px solid #90a67b;
        box-shadow: 0px 4px 20px 0px rgba(238, 238, 238, 0.52);
        padding: 5px;
        background: #fff;
      }
      .searchDiv {
        display: flex;
        align-items: center;
        cursor: pointer;
        border-radius: 8px;
        border: 1px solid #90a67b;
        background: #fff;
        padding:5px;
        input {
          border: none;
          background-color: none;
        }
        :focus {
          outline: none;
        }
      }
    }
  }
  .tableDiv{
    padding:20px;
    position: relative;
  }
}
