.AccountForm {
  padding: 20px;
 
  .mainForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .p1 {
      color: #000;
      font-size: 22px;
      font-weight: 500;
    }
    .icon {
      cursor: pointer;
    }
  }
  .form {
    padding: 20px;
    .div1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin: 10px 0;
      .input1 {
        width: 50%;

        p {
          color: rgba(0, 0, 0, 0.6);
          font-size: 16px;
          font-weight: 500;
        }
        .css-1u9des2-indicatorSeparator {
          width: 0 !important;
        }
        .css-b62m3t-container {
          width: 90% !important;
        }
        .css-13cymwt-control {
          border-radius: 10px !important;
          border: 1px solid rgba(144, 166, 123, 1) !important;
          padding:0!important;
        }
        input {
          border: 1px solid rgba(144, 166, 123, 1);
          width: 90%;
          padding: 8px 5px;
          border-radius: 7px;
        }
        :focus {
          outline: none;
        }
      }
    }
    .div22 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .textDiv {
        width: 40%;
        padding: 10px;
        border: 1px solid rgba(144, 166, 123, 0.5);
        background: #cbd9ad;
        p {
          color: rgba(0, 0, 0, 0.5);
          font-size: 14px;
          font-weight: 300;
          strong {
            color: black;
          }
        }
      }
      .inputDiv {
        width: 50%;
        .checkDiv {
          display: flex;
          align-items: center;
          input[type="checkbox"] {
            padding: 10px !important;
            height: 30px !important;
            width: 30px !important;
            border-radius: 8px !important;
            // Change the fill color
            background-color: #f0f0f0; // Replace with your desired color

            // Change the tick color
            &:checked {
              &::before {
                display: inline-block !important;
                width: 14px !important; // Adjust as needed
                height: 14px !important; // Adjust as needed
                line-height: 14px !important; // Adjust as needed
                text-align: center !important;
                font-size: 12px !important; // Adjust as needed
                color: #0eb608 !important; // Replace with your desired color
                background-color: #ffffff !important; // Replace with your desired color
                border-radius: 50% !important;
                border: 1px solid #00ff2a !important; // Replace with your desired color
              }
            }
          }
          p {
            margin: 0 5px;
            color: rgba(0, 0, 0, 0.5);
            font-size: 14px;
            font-weight: 300;
          }
        }
        .parent {
          .css-b62m3t-container {
            width: 80% !important;
            margin: 10px 0 !important;
          }
          .css-13cymwt-control {
            border-radius: 10px !important;
            border: 1px solid rgba(144, 166, 123, 1) !important;
          }
        }
        .balance {
          width: 100%;
          display: flex;
          align-items: center;
          .input1 {
            p {
              color: rgba(0, 0, 0, 0.6);
              font-size: 16px;
              font-weight: 500;
            }
            input {
              border: 1px solid rgba(144, 166, 123, 1);
              border-radius: 10px;
              padding: 7px 5px;
              width: 90%;
            }
            :focus {
              outline: none;
            }
          }
        }
      }
    }
    .borderDiv {
      border: 2px solid rgba(0, 0, 0, 0.34);
      margin: 30px 0;
    }
    .btns {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .b1 {
        border: 1px solid rgba(144, 166, 123, 1);
        border-radius: 10px;
        width: 15%;
        padding: 10px;
        text-align: center;
        color: rgba(0, 0, 0, 0.5);
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;
      }
      .b2 {
        border-radius: 10px;
        border: 1px solid #90a67b;
        background: #90a67b;
        box-shadow: 0px 4px 20px 0px rgba(238, 238, 238, 0.52);
        width: 25%;
        padding: 10px;
        text-align: center;
        color: white;
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;
      }
    }
  }
}
