.accountMain {
  //   padding: 25px;
  .div1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .p1 {
      color: #000;
      font-size: 32px;
      font-weight: 700;
    }
    .btns {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 50%;
      a {
        text-align: center;
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
        color: #90a67b;
        border-radius: 10px;
        border: 1px solid #90a67b;
        background: #fff;
        box-shadow: 0px 4px 20px 0px rgba(238, 238, 238, 0.52);
        margin: 0 5px;
        width: 30%;
        padding: 10px 5px;
        cursor: pointer;
      }
    }
  }
  .div2 {
    border-radius: 10px;
    background: #fff;
    padding: 15px;
    margin:20px 0;
    .filters {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      .filter {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        width: 80%;
        input {
          padding: 4px;
          border-radius: 10px;
          // border: 1px solid rgba(144, 166, 123, 1);
        }
        :focus {
          outline: none;
        }
        .batchActionBtn {
          width: 25%;
          .batchAction {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 1px solid rgba(144, 166, 123, 1);
            border-radius: 10px;
            padding: 8px;
            width: 90%;
            cursor: pointer;
            .p1 {
              color: rgba(0, 0, 0, 0.6);
              font-size: 14px;
              font-weight: 300;
            }
          }
          button {
            padding: 8px;
            border-radius: 10px;
            border: 1px solid rgba(144, 166, 123, 1);
            width: 100%;
            font-size: 14px;
            font-weight: 400;
            cursor: pointer;
          }
        }
        .css-1u9des2-indicatorSeparator {
          width: 0 !important;
        }
        .css-13cymwt-control {
          border-color: rgba(144, 166, 123, 1) !important;
          border-radius: 10px !important;
          padding:0!important;
        }
        .css-b62m3t-container {
          width: 25% !important;
        }
      }
      .icons {
        display: flex;
        align-items: center;
        margin-top: 10px;
        img {
          margin: 0 5px;
          cursor: pointer;
        }
      }
    }
    .tableDiv{
      margin:25px 0;
    }
  }
}
