.mainContainerGTD {
  padding: 20px 25px;
  margin-top: 40px;
  .p1 {
    font-size: 32px;
    font-weight: 700;
    border-bottom: 5px solid rgba(144, 166, 123, 1);
    // border: 1px solid red;
    // width: 35%;
  }
  .shortcuts {
    background-color: white;
    box-shadow: 0px 20px 4px 0px rgba(238, 238, 238, 0.27);
    border-radius: 10px;
    margin-top: 40px;
    padding: 20px 20px;
    width: 60%;
    .p2 {
      font-size: 18px;
      font-weight: 500;
      text-transform: uppercase;
    }
    .mainShortcuts {
      padding:30px 0;
      .blocks {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        .block {
        cursor: pointer;

          .imgDiv {
            border: 1px solid rgba(0, 0, 0, 0.34);
            box-shadow: 0px 20px 4px 0px rgba(238, 238, 238, 0.27);
            height:120px;
            width: 125px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius:10px;
            img {
              height: 30px;
            }
          }
          .p3 {
            text-align: center;
            font-size: 14px;
            font-weight: 500;
            margin-top:5px;
          }
        }
      }
    }
  }
}
