.oilStorage {
  margin-top: 30px;
  .oil {
    padding: 0 25px;
    display: flex;
    //   justify-content: space-between;
    align-items: center;
    button {
      border: 1px solid rgba(144, 166, 123, 1);
      padding: 10px 0;
      text-align: center;
      background-color: white;
      font-size: 14px;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.5);
      border-radius: 10px;
      width: 12%;
      margin: 0 5px;
      cursor: pointer;
    }
  }
  .graphs {
    margin-top: 20px;
  }
  .inStockDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    margin-top: 25px;
    .p1 {
      font-size: 36px;
      font-weight: 700;
      color: rgba(0, 0, 0, 0.88);
    }
    .stockBtn {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 30%;

      .searchDiv {
        display: flex;
        align-items: center;
        border: 1px solid rgba(144, 166, 123, 1);
        padding: 10px 10px;
        border-radius: 10px;
        //   margin-bottom: 20px;
        background-color: white;
        input {
          background-color: transparent !important;
          border: none;
          padding-left: 5px;
        }
        :focus {
          border: none;
          outline: none;
        }
      }
    }
  }
  .tableDiv {
    padding: 0 25px;
    margin-top: 20px;
    .mainTable {
      border-radius: 10px;
      padding: 15px 15px;
      background-color: white;
      box-shadow: 0px 4px 20px 0px rgba(238, 238, 238, 0.52);
      position: relative;
      height:400px;
      overflow-y: auto;
    }
  }
}
