.ledgerMain {
  padding: 25px 20px;
  .p1 {
    color: #000;
    font-size: 32px;
    font-weight: 700;
  }
  .mainDiv {
    border-radius: 10px;
    background: #fff;
    margin: 20px 0;
    padding: 20px;
  .searchDiv1{
    width:33%;
  }
    .tableDiv {
      margin: 20px 0;
    }
  }
}
