.addEmployee {
  // z-index: 1 !important;
  // width: 50%;
  // background-color: white;
  padding: 20px 20px;
  // border-radius: 10px;
  // position: absolute;
  // right: 20%;
  .insideEmp {
    border: 1px solid #90a67b;
    border-radius: 10px;
    .formDiv1 {
      display: flex;
      justify-content: space-between;
      .p1 {
        font-size: 24px;
        font-weight: 600;
        padding: 20px;
      }
      .icon {
        cursor: pointer;
        padding: 10px 15px;
      }
    }
  }
  .toggleDiv {
    border-radius: 10px;
    padding-left: 30px;
    margin-top: 20px;
    .nameDiv {
      padding: 5px 0;
      .p5 {
        color: rgb(0, 0, 0);
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 3px;
      }
      .inputDiv {
        display: flex;
        align-items: center;
        .calendarDiv {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 75%;
          padding: 10px 10px;
          border: 1px solid rgba(144, 166, 123, 1);
          font-size: 14px;
          font-family: 400;
          border-radius: 10px;
        }
        .nameDiv {
          width: 50%;
          input {
            width: 75%;
            padding: 15px 10px;
            border: 1px solid rgba(144, 166, 123, 1);
            font-size: 14px;
            font-family: 400;
            border-radius: 10px;
          }
          :focus {
            outline: none;
          }
        }
        .nameDivv {
          width: 50%;
          input {
            width: 80%;
            padding: 15px 10px;
            border: 1px solid rgba(144, 166, 123, 1);
            font-size: 14px;
            font-family: 400;
            border-radius: 10px;
          }
          :focus {
            outline: none;
          }
        }
      }
    }
    .holiday {
      margin-top: 15px;
      input {
        width: 90%;
        padding: 15px 10px;
        border: 1px solid rgba(144, 166, 123, 1);
        font-size: 14px;
        font-family: 400;
        border-radius: 10px;
      }
      :focus {
        outline: none;
      }
    }
    .attachement {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30%;
      background-color: #f2f2f2;
      border-radius: 8px;
      padding: 10px 0;
      margin: 10px 0;
      cursor: pointer;
      img {
        height: 20px;
      }
      p {
        color: #80878c;
        font-size: 18px;
        font-weight: 700;
      }
    }
    .saveBtnAE{
      display: flex;
      justify-content: flex-end;
      width: 93%;
      padding: 5px 0;
      button {
        border-radius: 10px;
        background: #90a67b;
        box-shadow: 0px 4px 20px 0px rgba(238, 238, 238, 0.52);
        border: none;
        color: white;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        padding: 10px 0;
        width:15%;
        cursor: pointer;
      }
    }
  }
}
