.mainSalary {
  padding: 10px 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  .cards {
    height: 40%;
    display: flex;
    justify-content: space-between;
    .mainCard {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: white;
      box-shadow: 0px 4px 20px 0px rgba(238, 238, 238, 0.52);
      border-radius: 10px;
      // height: 100%;
      width: 31%;
      padding:10px 0;
      .imgDiv {
        display: flex;
        align-items: center;
        img {
          height: 25px;
        }
        .p1 {
          color: rgba(0, 0, 0, 0.72);
          font-size: 16px;
          font-weight: 500;
        }
      }
      .p2 {
        color: #90a67b;
        font-size: 18px;
        font-weight: 600;
      }
    }
  }
  .salaryGraph {
    background-color: white;
    height: 75%;
    margin-top: 15px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 20px 0px rgba(238, 238, 238, 0.52);
    .salaryMain {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .p1 {
        color: rgba(0, 0, 0, 0.4);
        font-size: 18px;
        font-weight: 600;
      }
      
    }

  }
}
