.leaveMain {
  // z-index: 1 !important;
  // width: 50%;
  // background-color: white;
  padding: 10px 0;
  // border-radius: 10px;
  // position: absolute;
  // right: 20%;
  .leaveInside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .p1 {
      font-size: 24px;
      font-weight: 600;
      padding: 20px;
    }
    .icon {
      cursor: pointer;
      padding: 10px 15px;
    }
  }
  .leaveForm {
    border-top: 1px solid rgba(0, 0, 0, 0.16);
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
    margin-bottom: 15px;
    .leaveFields {
      padding: 10px 20px;
      // .searchDiv {
      //   p {
      //     color: rgba(0, 0, 0, 0.64);
      //     font-size: 14px;
      //     font-weight: 400;
      //     margin-bottom: 2px;
      //   }
      //   .search {
      //     display: flex;
      //     align-items: center;
      //     border: 1px solid rgba(144, 166, 123, 1);
      //     border-radius: 10px;
      //     padding: 10px;
      //     input {
      //       border: none;
      //       padding-left: 5px;
      //       color: #000;
      //       font-size: 12px;
      //       font-weight: 500;
      //     }
      //     :focus {
      //       outline: none;
      //     }
      //   }
      // }
      .leaveType {
        .p1 {
          color: #000;
          font-size: 14px;
          font-weight: 400;
          margin: 10px 0;
        }
        .types {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .type {
            padding: 10px 5px;
            display: flex;
            align-items: center;
            border: 1px solid rgba(144, 166, 123, 1);
            border-radius: 10px;
            width: 45%;
            .imgDiv {
              height: 3rem;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 23%;
              border-radius: 50%;
              border: 1px solid rgba(144, 166, 123, 1);
            }
            @media (min-width: 1700px) {
              /* Adjust the height when the screen width is 768px or greater */
              .imgDiv {
                height: 4rem; /* Set the desired height */
                width: 20%;
                img {
                  height: 30px;
                }
              }
            }
          }
          .leaveText {
            padding-left: 5px;
            .p1 {
              color: #000;
              font-size: 12px;
              font-weight: 500;
            }
            .p2 {
              color: #000;
              font-size: 8px;
              font-weight: 300;
              width: 70%;
            }
          }
        }
      }
      .leaveDateDiv {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .leaveDate {
          width: 47%;
          .p1 {
            color: rgba(0, 0, 0, 0.64);
            font-size: 14px;
            font-weight: 400;
            margin: 10px 0;
          }
          .CalendarDiv {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 1px solid rgba(144, 166, 123, 1);
            border-radius: 10px;
            // width:87%;
            padding: 10px;
            p {
              color: rgba(0, 0, 0, 0.37);
              font-size: 12px;
              font-weight: 500;
            }
            img {
              cursor: pointer;
            }
          }
        }
      }
      .reason {
        .p1 {
          color: rgba(0, 0, 0, 0.64);
          font-size: 14px;
          font-weight: 400;
        }
        .textArea {
          border-radius: 10px;
          border: 1px solid rgba(144, 166, 123, 1);
          padding: 5px 10px;
          width: 96%;
        }
        :focus {
          outline: none;
        }
        @media (min-width: 1700px) {
          .textArea {
            width: 98%;
          }
        }
      }
    }
}
.leaveBtn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right:15px;
  .confirm {
    border-radius: 10px;
    background-color: rgba(144, 166, 123, 1);
    color: rgba(0, 0, 0, 0.72);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    border: none;
    width:15%;
    padding:10px 5px;
    margin:5px;
}
.cancle {
    margin:5px;
      width:15%;
      padding:10px 5px;
    border-radius: 10px;
    border: 1px solid rgba(144, 166, 123, 1);
    color:black;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
  }
}
}
