.attendanceMain {
  padding: 20px 0;
  .attendanceInside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .p1 {
      color: rgba(0, 0, 0, 0.88);
      font-size: 36px;
      font-weight: 700;
    }
    .attendanceBtn {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      width: 29%;
      .dateMain {
        width: 45%;
        .p2 {
          color: rgba(0, 0, 0, 0.55);
          font-size: 14px;
          font-weight: 600;
        }
        .dateDiv {
          display: flex;
          align-items: center;
          justify-content: space-between;
          background-color: white;
          border: 1px solid #90a67b;
          border-radius: 10px;
          box-shadow: 0px 4px 20px 0px rgba(238, 238, 238, 0.52);
          padding: 8px;
          width: 100%;
          cursor: pointer;
          p {
            color: rgba(0, 0, 0, 0.55);
            font-size: 12px;
            font-weight: 600;
          }
        }
      }
      .downloadReport {
        width: 40%;
        background-color: #90a67b;
        border-radius: 10px;
        box-shadow: 0px 4px 20px 0px rgba(238, 238, 238, 0.52);
        padding: 8px;
        cursor: pointer;
        p {
            color: rgba(0, 0, 0, 0.55);
            color: white;
          font-size: 12px;
          font-weight: 600;
          text-align: center;
        }
      }
    }
  }
  .attendanceTable{
    margin-top:20px;
    padding:15px 10px;
    background-color: white;
    border-radius:10px;
    box-shadow:0px 4px 20px 0px rgba(238, 238, 238, 0.52);
  }
}
