.finalBill {
  z-index: 1 !important;
  width: 40%;
  background-color: white;
  box-shadow: 0px 4px 20px 0px rgba(238, 238, 238, 0.52);
  padding: 20px 20px;
  border-radius: 10px;
  position: absolute;
  right: 30%;
  .close {
    .icon {
      float: right;
      cursor: pointer;
    }
  }
  .dataDiv {
    padding: 10px 0;
    .p1 {
      font-size: 18px;
      font-weight: 500;
      color: black;
      text-align: center;
    }
    .received {
      display: flex;
      align-items: flex-start;
      padding: 15px 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.34);
      .tick {
        background-color: rgba(144, 166, 123, 1);
        border-radius: 50%;
        // width: 15%;
        padding: 6px 5px;
        // height: 17px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          height: 12px;
        }
      }
      .textDiv {
        padding-left: 5px;
        .p1 {
          color: rgba(0, 0, 0, 0.6);
          font-size: 14px;
          font-weight: 500;
        }
        .p2 {
          color: rgba(0, 0, 0, 0.4);
          font-size: 12px;
          font-weight: 500;
        }
      }
    }
    .printDiv {
      display: flex;
      align-items: center;
      padding: 15px 0;
      img {
        height: 20px;
      }
      p {
        color: rgba(0, 0, 0, 0.6);
        font-size: 14px;
        font-weight: 500;
        padding-left: 10px;
      }
    }
    .endService {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px 0;
      p {
        border-radius: 8px;
        background: #90a67b;
        font-size: 18px;
        font-weight: 700;
        color: white;
        cursor: pointer;
        padding: 5px 0;
        width:40%;
        text-align: center;
      }
    }
    .acknowledge {
      padding: 10px 0;
      p {
        color: rgba(0, 0, 0, 0.6);
        font-size: 14px;
        font-weight: 500;
      }
      .btns {
        display: flex;
        align-items: center;
        margin-top:10px;
        button {
          border-radius: 4px;
          background: #d9d9d9;
          border: none;
          color: rgba(0, 0, 0, 0.34);
          text-align: center;
          font-size: 12px;
          font-weight: 700;
          padding:5px 10px;
          margin:0 3px;
          cursor: pointer;
        }
      }
    }
  }
}
