.customerManagement {
  margin-top: 30px;
  .createCustomerDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    .p1 {
      font-size: 30px;
      font-weight: 700;
    }
    .p2 {
      border: 1px solid rgba(144, 166, 123, 1);
      border-radius: 10px;
      padding: 10px 10px;
      font-size: 24px;
      font-weight: 700;
      background-color: white;
      text-decoration: none;
      color: black;
      cursor: pointer;
    }
  }
  .customerTable {
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
    margin-top:20px;
    .p1 {
      font-size: 36px;
      font-weight: 700;
      color: black;
    }
    .searchDiv {
      display: flex;
      align-items: center;
      border: 1px solid rgba(144, 166, 123, 1);
      padding: 10px 10px;
      border-radius: 10px;
      //   margin-bottom: 20px;
      background-color: white;
      input {
        background-color: transparent !important;
        border: none;
        padding-left: 5px;
      }
      :focus {
        border: none;
        outline: none;
      }
    }
  }
}
